<header class="border-b shadow-md w-full z-50 bg-white">
    <!-- Üst Kısım: Logo, Search, Sepet, Hesap -->
    <div class="border-b p-3">
        <div class="container mx-auto px-4">
            <div class="flex align-middle items-center justify-between">
                <!-- Logo -->
                <img src="/images/logo.png" alt="app logo" class="max-h-16">
                
                <!-- Search Bar (Ortada) -->
                <div class="flex-1 max-w-md mx-8">
                    <div class="relative">
                        <input 
                           type="search" 
                           class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg pr-12"
                           placeholder="Ürün ara..."
                           name="search"
                           [(ngModel)]="searchTerm"
                           >
                        <button 
                           type="button"
                           class="absolute inset-y-0 right-0 top-0 flex items-center pr-3"
                           (click)="onSearch()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
                
                <!-- Sağ Taraf: Sepet ve Hesap -->
                <div class="flex gap-3 align-middle">
                    <a matBadge="{{itemCount()}}" matBadgeSize="large" class="custom-badge mt-2 mr-2" routerLink="/cart" routerLinkActive="active">
                        <mat-icon>shopping_cart</mat-icon>
                    </a>
                    @if (accountService.currentUser()) {
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>arrow_drop_down</mat-icon>
                            <span>{{ accountService.currentUser()?.email }}</span>
                        </button>
                    } @else {
                        <button routerLink="/account/login" mat-stroked-button>Login</button>
                        <button routerLink="/account/register" mat-stroked-button>Register</button>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="p-2">
        <div class="container mx-auto px-4">
            <nav class="flex gap-6 justify-center uppercase text-lg">
                <a routerLink="/" 
                   routerLinkActive="active" 
                   [routerLinkActiveOptions]="{exact: true}"
                   class="py-2 px-4 hover:bg-gray-100 rounded">
                   Anasayfa
                  </a>
                  <a [routerLink]="['/products/category','elektronik']"
                  routerLinkActive="active"
                  class="py-2 px-4 hover:bg-gray-100 rounded">
                  Elektronik
                  </a>

                 <a [routerLink]="['/products/category','giyim']"
                   routerLinkActive="active"
                   class="py-2 px-4 hover:bg-gray-100 rounded">
                   Giyim
                </a>
                <a *appIsAdmin routerLink="/admin" 
                   routerLinkActive="active"
                   class="py-2 px-4 hover:bg-gray-100 rounded">
                   Admin
                </a>
            </nav>
        </div>
    </div>
</header>


<mat-menu #menu="matMenu" class="px-5">
    <button mat-menu-item class="px-3" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        Sepetim
    </button>
        <button mat-menu-item class="px-3" routerLink="/order">
        <mat-icon>history</mat-icon>
        Siparişlerim
    </button>
        <button mat-menu-item class="px-3" *appIsAdmin routerLink="/admin" 
                   routerLinkActive="active"
                   class="py-2 px-4 hover:bg-gray-100 rounded">
        <mat-icon>admin_panel_settings</mat-icon>
        Admin Paneli
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="px-3" (click)="logOut()">
        <mat-icon>logout</mat-icon>
        Çıkış Yap
        </button>
</mat-menu>

@if(busyService.loading$ | async) {
    <mat-progress-bar mode="indeterminate" class="fixed top-20 z-50"></mat-progress-bar>
}